body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  padding: 20px;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  margin: 0;
}

.app {
  max-width: 450px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.title__head {
  margin-bottom: 20px;
}

.title__lead {
  color: #afadad;
  font-size: 14px;
}

.sheets {
  text-align: center;
  margin: 30px 0;
}

.sheets__row div {
  display: inline-block;
  vertical-align: middle;
}

.sheets__row + .sheets__row  {
  margin-top: 1px;
}

.sheets__alphabet {
  margin-right: 5px;
  width: 15px;
}

.sheet {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #f00;
  cursor: pointer;
  margin: 0 1px;
  line-height: 25px;
  color: #aaa;
  font-size: 12px;
}


.empty {
  opacity: 0;
  user-select: none;
  cursor: default;
}

.standard {
  border-color: #757575;
}

.vip {
  border-color: #2b6f0f;
}

.deluxe {
  border-color: #221fd4;
}

.occupied {
  background-color: #504f4f;
  border-color: #504f4f;
  user-select: none;
  cursor: default;
}

.active {
  background-color: #fff;
}

.notes {
 margin: 30px 0;
 display: flex;
justify-content: space-between;
}

.type {
  display: flex;
  align-items: center;
}

.type + .type  {
  margin-top: 10px;
}

.type::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #504f4f;
  border-color: #504f4f;
  margin-right: 10px;
}

.type--selected::before {
  background-color: #fff;
  border-color: #fff;
}

.chair {
  display: flex;
  align-items: center;
}

.chair + .chair  {
  margin-top: 10px;
}

.chair::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border:1px solid #757575;
  margin-right: 10px;
}

.chair--vip::before {
  border-color: #2b6f0f;
}

.chair--deluxe::before {
  border-color: #221fd4;
}

.payment {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}